.page-index {
	.input-group.md-form.form-sm.form-2 input.white-border {
		border: 1px solid #ffffff;
		background-color: #ffffff;
	}
	.input-group.md-form.form-sm.form-2 input {
		border: 1px solid #bdbdbd;
		border-top-left-radius: 0.25rem;
		border-bottom-left-radius: 0.25rem;
	}
	.intro-text {
		text-align: center;
		width: 70%;
		margin: 0 auto;
	}
	@media (max-width: 992px) {
		.intro-text {
			width: 100%;
		}
	}
	.index-view,
	.index-mask {
		overflow: visible !important;
	}
	.search-input-container {
		width: 100%;
	}
	#index_search {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		font-size: 1.3rem;
		padding-left: 35px;
	}
	.search-container {
		margin: auto;
		width: 50%;
	}
	.search-results-container {
		position: relative;
	}
	.search-results-div {
		display: none;
		position: absolute;
		top: -25px;
		left: 0;
		height: auto;
		max-height: 250px;
		width: 100%;
		overflow-y: auto;
		overflow-x: hidden;
		background: #ffffff;
		padding: 15px;
		border-radius: 3px;
		text-align: left;
		color: $primary-color;
		z-index: 100;
		.dropdown-menu {
			border: none !important;
			position: relative !important;
		}
	}
	.carousel {
		.carousel-inner {
			padding: 10px !important;
		}
		.card {
			height: 100%;
			display: flex;
		}
		.card-img-top {
			height: 100%;
			width: 100%;
			position: relative;
			vertical-align: middle;
		}
		.card-body {
			padding: 8px;
		}
		.card-text:last-child {
			margin-top: 0 !important;
			margin-bottom: auto !important;
		}
		.card.card-footer {
			align-self: flex-end;
			flex: 1 1 auto;
			padding: 10px !important;
		}
	}
	.loader {
		position: absolute;
		width: 100%;
		height: 30px;
		top: 0px;
		left: 0px;
		z-index: 500;
		background-image: url(/images/loading/loading-small.svg);
		background-repeat: no-repeat;
		background-position: center center;
	}

	@media (max-width: 1300px) {
		.search-container {
			width: 65%;
		}
		#index_search {
			font-size: 1rem;
		}
		.search-results-div {
			max-height: 300px;
		}
	}
	@media (max-width: 992px) {
		.md-form .prefix {
			top: 1rem;
			font-size: 1.2rem;
		}
	}
	@media (max-width: 768px) {
		#large_intro_image {
			width: 100%;
			height: 60VH;
			object-fit: cover;
		}
		.search-container {
			width: 95%;
		}
	}
	@media (max-width: 576px) {
		#index_search {
			padding-left: 25px;
		}
	}
}