/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
**/_test
_tests/*
/_docs
/__notes.txt
/__todo.txt
.editorconfig
/.vscode
.env
twilio.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/_ignore
/.vscode
/.sass-cache
/webpack.mix.js
/.gitignore
.editorconfig
