// Typography
$font-family-sans-serif: "Montserrat", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Your custom variables
$primary-color:        #084972; //#0d6196
$primary-color-light:  #0571b5; //#e76632
$primary-color-dark:   #073b5c; //#964120
$secondary-color:      #e76632;
$secondary-color-dark: #964120;
$default-color:        #f5b22d;
$default-color-dark:   #d9940d;
$info-color:           #33b5e5;
$info-color-dark:      #0099cc;
$success-color:        #58ba80;
$success-color-dark:   #448f62;
$warning-color:        #ffbb33;
$warning-color-dark:   #ff8800;
$danger-color:         #ec3651;
$danger-color-dark:    #ad293c;
$elegant-color:        #880e4f;
$elegant-color-dark:   #660c3c;
$stylish-color:        #4b515d;
$stylish-color-dark:   #3e4551;
$unique-color:         #3f729b;
$unique-color-dark:    #1c2331;
$special-color:        #37474f;
$special-color-dark:   #263238;
$white:                #fff;
$black:                #000;




$tp-blue: #084972;
$light-blue: #e7ecef;
$sky-blue: #a3cef1;
$orange: #ff8c42;
$dark-blue: #2d3047;
